* {
  margin: 0;
  padding: 0;
}

#navv1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navv2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navv3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navv4 {
  color: #323f4b;
  font-family: "Roboto";
}
#logo {
  height: 70px;
  width: 90px;
  border-radius: 50%;
}
#home {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.banner-container{
  justify-content: center !important;
}
.banner-head {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 45px;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300px;
}
.button-caption {
  width: 140px;
  height: 45px;
  color: white;
  background-color: #d0b200;
  border-width: 0px;
  border-radius: 8px;
  margin-right: 10px;
  font-weight: 300;
}
.button-caption2 {
  width: 140px;
  height: 45px;
  color: white;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #d0b200;
  border-radius: 8px;
  font-weight: 300px;
}

#home {
  display: flex;
  justify-content: center;
}
/* why choose us */

.col-12 {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
.card-img {
  width: 87px;
  height: 90px;
  border-style: none;
  display: block;
  margin: auto;
}

.card {
  text-align: center;
  background-color: white;
  border-width: 3px;
  border-radius: 16px;
}

#whychooseus {
  background-color: rgb(243, 249, 252);
  padding: 20px;
  font-family: "Roboto";
}

/* section explore menu */

.view {
  color: rgb(236, 154, 4);
  text-decoration: none;
}
.head {
  color: rgb(36, 36, 96);
  padding: 20px;
  font-family: "Roboto";
  font-weight: bold;
}

.bg {
  border-radius: 35px;
  box-shadow: 50px;
  box-shadow: 5px 7px 5px grey;
}
.para {
  color: rgb(14, 14, 57);
  font-weight: bolder;
  font-family: "Roboto";
  font-size: 20px;
}

.card {
  padding: 15px;
  border: none;
}
.card-img-top {
  border-radius: 35px;
  width: 100%;
  height: 90%;
}

/* section4 fresh */
#organic {
  background-color: rgb(242, 250, 253);
  font-family: "Roboto";
  font-size: large;
}
.imgagee {
  height: 300px;
  width: 300px;
  padding: 60px;
  margin-left: 50px;
}
.column1 {
  padding: 20px;

  text-align: center;
}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  padding: 10px;
  background-image: linear-gradient(#d0b200, #a58d00);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 140px;
}

/* section organic */
* {
  margin: 0;
  padding: 0;
}
.button {
  padding: 11px;
  background-image: linear-gradient(#d0b200, #a58d00);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 140px;
}
.imgg {
  height: 80px;
  width: 80px;
  padding: 15px;
  text-align: right;
}
.main-img {
  width: 300px;
  height: 300px;
  text-align: start;
}
.main {
  font-family: "Roboto";
  font-weight: 400;
  font-size: large;
  color: rgb(11, 11, 15);
  text-align: start;
}
.head {
  font-family: "Roboto";
  font-weight: 550;
}
#section5 {
  background-color: rgb(240, 249, 252);
}
.par {
  color: #323f4b;
}

/* thankyou note*/

.button {
  padding: 11px;
  background-image: linear-gradient(#d0b200, #a58d00);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 140px;
}

#thankyounote {
  background-image: radial-gradient(#fff8db, #fae38c);
}
/* .container#blur.active{
  filter: blur(20px);
} */
.column1 {
  text-align: start;
  font-family: "Roboto";
  font-weight: bolder;
}
.para {
  color: grey;
  font-family: "Roboto";
  font-weight: 200;
}
#imagee {
  height: 300px;
  width: 300px;
}

/* section7  follow is*/
.icon {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: goldenrod;
}
.heading {
  text-align: center;
  color: rgb(6, 6, 50);
  padding: 10px;
}
.fa-brands {
  padding: 10px;
  background-color:  #faf7e8;
  border-radius: 50%;
}
.container {
  padding: 40px;
}

/* footer */
#footer {
  background-color: rgb(24, 24, 57);
  text-align: center;
  color: white;
  padding: 30px;
}
.image {
  width: 80px;
  height: 80px;
}
.para {
  font-weight: bold;
  color: #959ead;
  size: 14px;
}
.para2 {
  color: #959ead;
  size: 14px;
}


.menu-item-card {
  border-radius: 16px;
}
.p-3 {
  padding: 1rem !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.shadow {
  box-shadow: 1 rem 1rem rgba(0,0,0,.15)!important;
}
* {
  box-sizing: border-box;
}
.w-100 {
  width: 100% !important;
}

.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}